.List {
  border: 3px solid black;
  padding: 10px;
  margin: 0 20px;
  width: 200px;
  .list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      flex-grow: 1;
    }
  }
  .list-name-input {
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    font-style: italic;
    width: 180px;
    text-align: center;
    margin: 0.83em 0;
    flex-grow: 1;
  }
  form {
    height: 1px;
    opacity: 0;
    transition: all 0.25s;
  }
  &:hover form {
    height: 20px;
    padding: 10px 0 0 0;
    opacity: 1;
    transition: all 0.25s;
  }
  .hidden {
    display: none;
  }
}
